## 리스트 생성과 인덱싱
리스트는 여러 값을 하나의 변수로 다룰 수 있는 자료형입니다.<br> 
인덱싱과 슬라이싱을 통해 각 요소에 접근하거나 일부를 잘라낼 수 있습니다.<br> 

숫자 10, 20, 30을 담은 리스트를 생성하고 출력해보세요.

문자열 `'abc'`를 `list()`를 활용해 리스트로 변환해 출력해보세요.

리스트 `a = [10, 20, 30]`에서 인덱스를 활용해 첫 번째 요소를 출력해보세요.

리스트 `a = [1, 2, 3, 4, 5]`에서 슬라이싱을 활용해 중간 3개의 요소를 확인해보세요.

## 연산과 포함 여부
`+`, `*`, `in` 등의 연산자를 이용해 리스트를 합치거나 반복하고,<br> 
특정 값이 포함되어 있는지 확인할 수 있습니다.

`+` 연산자를 활용해 리스트 `[1, 2]`와 `[3, 4]`를 합쳐 출력해보세요.

`*` 연산자를 활용해 `[0]`을 세 번 반복한 결과를 출력해보세요.

`in`을 활용해 숫자 `2`가 리스트 `[1, 2, 3]`에 포함되는지 확인해보세요.

`len()`을 활용해 리스트 `[1, 2, 3]`의 길이를 출력해보세요.

## 리스트 메서드
리스트는 값을 추가하거나 제거하는 다양한 메서드를 제공합니다. <br>
`append(value)`, `insert(index, value)`, `remove(value)` 등으로 리스트를 동적으로 조작할 수 있습니다.

`append()`를 활용해 리스트 `[1, 2]`에 숫자 3을 추가해보세요.

`insert()`를 활용해 리스트 `[1, 2]`의 인덱스 1에 숫자 99를 삽입해보세요.

`remove()`를 활용해 리스트 `[1, 2, 3]`에서 숫자 2를 제거해보세요.

`pop()`을 활용해 리스트 `[1, 2, 3]`의 마지막 요소를 제거하고 반환해보세요.

`clear()`를 활용해 리스트 `[1, 2, 3]`의 모든 요소를 제거해보세요.

`del`을 활용해 리스트 `[1, 2, 3]`에서 첫 번째 요소를 삭제해보세요.

`sort()`를 활용해 리스트 `[3, 1, 2]`를 오름차순으로 정렬해보세요.

## 튜플 기본과 조작
튜플은 리스트와 유사하지만 변경할 수 없는 자료형입니다. <br>
고정된 값을 저장하거나 불변 데이터를 다룰 때 유용합니다.<br>

튜플 `(1, 2, 3)`을 생성하고 출력해보세요.

튜플의 요소는 변경 불가능하다는 것을 확인하기 위해 첫 번째 요소를 수정해보세요.

튜플 `t = (1, 2, 3)`에서 첫 번째 요소를 출력해보세요.

튜플 `t = (1, 2, 3, 4)`에서 슬라이싱을 활용해 일부 요소를 확인해보세요.

튜플 `(1, 2)`와 `(3, 4)`를 `+` 연산자로 이어붙여보세요.

`*` 연산자를 활용해 `(0,)`을 네 번 반복한 튜플을 생성해보세요.

`len()`을 활용해 튜플 `(1, 2, 3)`의 길이를 확인해보세요.

`count()`를 활용해 튜플 `(1, 2, 2, 3)`에서 2의 개수를 세어보세요.

`index()`를 활용해 튜플 `(1, 2, 3)`에서 숫자 2의 인덱스를 확인해보세요.