# 02. Variables

``print()``함수는 파이썬에서 화면에 결과를 출력할 때 사용되는 기본 함수입니다.
```python
print("Hello World!")
```
위 코드를 실행하면 아래와 같이 출력됩니다:
```python
Hello World!
```

더 자세한 사용 방법은 ``help()``를 통해 확인할 수 있습니다.

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## 산술 연산자 활용하기

산술 연산자는 숫자에 대해 더하기(+), 빼기(-), 곱하기(*) 같은 계산을 할 때 사용하는 기호입니다.<br>
계산기처럼 파이썬에서 숫자를 연산할 수 있게 해줍니다.
```python
print(3 + 2)   # 5
print(10 % 3)  # 1
print(2 ** 3)  # 8
```
산술 연산자를 통해 12와 5를 더한 값을 print()로 출력해보세요.

12에서 5를 뺀 결과를 출력해보세요.

12와 5를 곱한 결과를 출력해보세요.

12를 5로 나눈 결과를 출력해보세요.

12를 5로 나눈 몫을 출력해보세요.

12를 5로 나눈 나머지를 출력해보세요.

12의 5제곱을 출력해보세요.

## 대입 연산자 활용하기

대입 연산자는 값을 변수에 저장하거나, 기존 변수의 값을 바꿀 때 사용합니다.<br>
숫자나 문자를 변수에 저장해 두면, 나중에 해당 이름으로 값을 쉽게 다시 사용할 수 있습니다.<br>
가장 기본적인 = 외에도, 계산과 대입을 동시에 할 수 있는 +=, *=, -= 같은 연산자도 있습니다.
```python
a = 5
a += 3      # a = a + 3 = 8
```
다음과 같이 ``print()``를 활용하면 2개 이상의 값을 한 번에 출력할 수 있습니다.
```python
a = 10
b = 3
print(a, b)
```

대입 연산자를 활용하여 ``num1``이라는 변수에 12를, ``num2``에 5를 저장하고 출력해보세요.

``num1``과 ``num2``를 더한 값을 출력해보세요.

``+=``을 사용해 ``num1``에 3을 더한 값을 다시 ``num1``에 저장하고 출력해보세요.

``*=``를 사용해 ``num2``에 2를 곱한 값을 다시 ``num2``에 저장하고 출력해보세요.

새 변수 ``num3``에 100을 저장한 뒤, ``num3``에서 ``num1``을 뺀 값을 ``-=`` 연산자로 저장하고 출력해보세요.

## 자료형 확인하기

파이썬에서 모든 값은 자료형(type)을 가지고 있습니다.<br>
예를 들어 정수는 int, 소수는 float, 글자는 str이라는 자료형을 가집니다.<br>
type() 함수를 사용하면 변수의 자료형을 확인할 수 있습니다.
```python
print(type(10))        # <class 'int'>
print(type(3.14))      # <class 'float'>
print(type("hi"))      # <class 'str'>
```
``type()``을 사용하여 ``num1``의 자료형을 확인해보세요.

``num1 / num2``의 자료형을 확인해보세요.